*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-size: cover;
}
/* input section */
h1 {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

input {
  width: 300px;
  height: 30px;
  outline: none;
  font-size: 24px;
  border-radius: 2px;
}

.form {
  display: flex;
  justify-content: center;
}

.fa-plus-square {
  display: inline;
  margin-left: 5px;
  font-size: 30px;
}

/* section of list items */

#todoBox {
  display: flex;
  justify-content: center;
  position: relative;
}

.todo {
  position: relative;
  font-size: 24px;
  list-style: none;
  width: 300px;
  height: 30px;
  border: 1px solid orange;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 2px;
  padding: px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
  border: 1px solid #f69d3c;
  color: #f69d3c;
  outline: none;
  cursor: pointer;
}

.fall {
  transform: translateY(300px) rotateZ(20deg);
  opacity: 0.5;
}

.complete {
  background-color: #99ff66;
  opacity: 0.5;
}
